.form-control{
    margin-top: 15px;
    width: 75%;
}
.btn-group-lg>.btn, .btn-lg {
    margin-top: 15px;
    padding: 2px !important; 
    width: 75%;
}

.placing{
    padding-left:300px;
    padding-right:0px;
}

#titelh {
    font-family: fantasy !important;
    font-size: 36px;
}

input[type=submit].btn-block {
    width: 75%;
}